<!DOCTYPE html>
<!-- Attach the gemStore module to our HTML page with a Directive. -->
<html ng-app="gemStore">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="application.css" />
    <script type="text/javascript" src="angular.min.js"></script>
    <script type="text/javascript" src="app.js"></script>
    <script type="text/javascript" src="products.js"></script>
  </head>

  <!-- Attach the StoreController to the <body> tag. Be sure to alias it as store. -->
  <body class="container" ng-controller="StoreController as store">

    <!--  Store Header  -->
    <header>
      <h1 class="text-center">Flatlander Crafted Gems</h1>
      <h2 class="text-center">– an Angular store –</h2>
    </header>

    <!--  Products Container  -->
    <div class="list-group">

        <!--  Product Container  -->
        <div class="list-group-item" ng-hide="product.soldOut" ng-repeat="product in store.products">
            <h3>
                <!-- Display the name of the product -->
                {{product.name}}
                <em class="pull-right">
                    <!-- Display the price as a currency. -->
                    {{product.price | currency }}
                </em>
            </h3>

            <!-- Image Gallery : only displayed if a product has images. -->
            <!-- Remove the image gallery div from index.html  -->
            <!-- Use our new productGallery directive where the gallery div used to be in our index.html. -->
            <product-gallery></product-gallery>

            <!-- Product Tabs  -->
            <product-tabs></product-tabs>

            <!-- directive : "Add to Cart" button if the canPurchase property is true. -->
            <button ng-show="product.canPurchase">Add to Cart</button>
        </div>

    </div>

	<!-- livereload -->
	<script>document.write('<script src="http://' + (location.host || 'localhost')
	.split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>

  </body>
</html>
