<!-- section inside of the provided product-tabs.html<h4>Specs</h4> -->
<!-- Remove the ng-controller from the section inside the file once moved. -->
<section class="tab">
<!-- <section class="tab" ng-controller="TabController as tab"> -->
    <ul class="nav nav-pills">
        <!-- Expression to evaluate if true set class to avtive -->
        <li ng-class="{ active:tab.isSet(1) }">
            <!-- setTab method -->
            <a href="#" ng-click="tab.setTab(1)">Description</a>
        </li>
        <li ng-class="{ active:tab.isSet(2) }">
            <a href="#" ng-click="tab.setTab(2)">Specifications</a>
        </li>
        <li ng-class="{ active:tab.isSet(3) }">
            <a href="#" ng-click="tab.setTab(3)">Reviews</a>
        </li>
    </ul>
    <!-- Description Tab's Content  -->
    <!-- Show the panel if tab is the right number -->
    <!-- isSet method to show the corresponding tab -->
    <!-- Include the file on the page using a custom directive tag instead of ng-include. -->
    <product-description ng-show="tab.isSet(1)"></product-description>

    <!--  Spec Tab's Content  -->
    <!-- use your new attribute directive to show the product specs. -->
    <div product-specs class="panel" ng-show="tab.isSet(2)"></div>

    <!--  Review Tab's Content  -->
    <product-reviews ng-show="tab.isSet(3)"></product-reviews>

</section>
