<!-- Put the gallery div inside of the provided product-gallery.html.
    Remove the ng-controller from the div inside the file once moved. -->
<div class="gallery" ng-show="product.images.length">
    <div class="img-wrap">
        <img ng-src="{{product.images[gallery.current]}}" />
    </div>
    <ul class="list-inline thumbs">
        <!-- li's repeat for each image in the image array -->
        <li class="thumbnail" ng-repeat="image in product.images">
            <img ng-src="{{image}}" />
        </li>
    </ul>
</div>
