<!--  Product Reviews List -->
<ul class="list-unstyled">
    <h4>Reviews</h4>

    <!-- multiple li's for each review that exists. -->
    <li ng-repeat="review in product.reviews">
        <blockquote>
            <strong>{{review.stars}} Stars</strong>
            {{review.body}}

            <!--  Add the createdOn date to the review within the cite element. We want it to say "-<Author> on <date>". -->
            <!-- Use the date filter on the createdOn property -->
            <cite class="clearfix">— {{review.author}} on {{review.createdOn | date:'yyyy-MM-dd'}}</cite>
        </blockquote>
    </li>
</ul>

<!--  Review Form -->
<!-- create a ng-controller attribute and assign it to the ReviewController with an alias of reviewCtrl. -->
<!-- ng-submit attribute. Set the value of the ng-submit attribute to call our new addReview function.  -->
<!-- novalidate : Turn off default HTML validation. -->
<!-- reviewForm.$valid : If valid is false, then addReview is never called. -->
<form name="reviewForm" ng-controller="ReviewController as reviewCtrl" ng-submit="reviewForm.$valid && reviewCtrl.addReview(product)" novalidate>
    <!--  Live Preview -->
    <blockquote>
        <strong>{{reviewCtrl.review.stars}} Stars</strong>
        {{reviewCtrl.review.body}}
        <cite class="clearfix">— {{reviewCtrl.review.author}}</cite>
    </blockquote>

    <!--  Review Form -->
    <h4>Submit a Review</h4>
    <fieldset class="form-group">
        <!-- Use ng-model for review.stars select form field. -->
        <!-- Pre-fix all three ng-model's with the controllers alias. -->
        <select class="form-control" ng-options="stars for stars in [5,4,3,2,1]" title="Stars" ng-model="reviewCtrl.review.stars" required>
            <option value="">Rate the Product</option>
        </select>
    </fieldset>
    <fieldset class="form-group">
        <!-- Use ng-model for review.body for the forms textarea. -->
        <textarea class="form-control" placeholder="Write a short review of the product..." title="Review" ng-model="reviewCtrl.review.body"></textarea>
    </fieldset>
    <fieldset class="form-group">
        <!-- Use ng-model for review.author – the email field. -->
        <input type="email" class="form-control" placeholder="jimmyDean@example.org" title="Email" ng-model="reviewCtrl.review.author" required/>
    </fieldset>
    <fieldset class="form-group">
        <input type="submit" class="btn btn-primary pull-right" value="Submit Review" />
    </fieldset>

    <!-- Print Forms Validity -->
    <div> reviewForm is {{reviewForm.$valid}} </div>
</form>
